*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('./bg5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        display: flex;
        font-size: 120%;
    }
    
    .card {
        background: black;
        color:whitesmoke;
        padding: 2em;
        border-radius: 30px;
        width: 100%;
        max-width: 430px;
        margin: 1em;
    }

    .search{
        display:flex ;
        align-items: center;
        justify-content: center;
    }

    button{
        margin: 0.5em;
        border-radius: 50%;
        border: none;
        height: 46px;
        width: 46px;
        outline: none;
        background: #7c7c7c2b;
        color: white;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }
    button:hover{
        background: #7c7c7c6b;
    }

    .temp{
        margin: 2%;
    }
    h2{
        margin-top: 7%;
    }

.inputs{
    padding: 2rem 0 2rem 0;
    text-align: center;
    justify-content:center;
    background-color: rgb(224,190,190);
    height: 150px;
}

input.search-bar{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    height: 44px;
    width: 44px;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}